* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	color: black;
	font-family: "Tilt Neon", "Fredoka One", "Chewy", sans-serif;
}

@media screen and (max-width:360px) {

	html, body{
		width:100%;
		overflow-x:hidden;
	}

     .logonav .pclogo {
    	max-width: 90%;
        max-height: 60%;
        margin-top: 0px;
        margin-left: 10px;
     }

     div.navhead  ul li{
     	font-size: 17px;
     	padding: 5px;
     }

     div.navhead nav {
     	margin-top: 20px;
     	text-align: center;
     }

     div.headertext h2 {
     	font-size: 30px;
     	top: 45%;
     	width: 360px;
     }

     div.headertext h4 {
      	margin-top: 9px;
     	font-size: 14px;
     	top: 58%;
     	width: 360px;
     }

     section#info2 {
     	height: 800px;
     }

     section#citrusinfo {
     	height: 820px;
     }

     div.flourandegg {
     	padding: 0px;
     	display: flex;
     	flex-direction: column;
     }

     div.flourandegg img.secimg {
     	width: 100%;
     }

     div.faetext {
     	padding: 7px;
     	height: 130px;
     }

	 div.faetext h2 {
		font-size: 35px;
		width: auto;
		padding: 7px;
		padding-top: 13px;
	}

	 div.faetext p {
		font-size: 18px;
		width: auto;
		padding-top: 0px;
		padding: 7px;
	}

	 div.faetext h3 {
		font-size: 15px;
		width: auto;
		padding-top: 5px;
		padding: 7px;
	}

	section.overview {
		width: auto;
	}

	nav.smolov {
		padding: 10px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	nav.smolov img {
		width: auto;
		height: 70px;
		margin-bottom: 10px;
	}

	a.smolov-icons {
		font-size: 20px;
		padding-top: 115px;
	}

	nav.smolov span {
		margin-top: 0px;
		line-height: 20%;
		padding-bottom: 20px;
		line-height: 0.5;
	}

	div.conin {
		padding: 5px;
		width: 230px;
	}

	div.conin p {
		font-size: 12px;
	}

	div.conin p:last-child {
		padding-bottom: 10px;
	}

	div.altogether {
		width: auto;
		flex-direction: row;
	}

	div.altogether img {
		width: 30%;
		height: 30%;
	}

	/*about me*/

	div.flourandeggae {
		width: auto;
		padding: 20px;
	}

	div.headerimgae h1 {
		font-size: 25px;
		position: absolute;
	  	top: 27%;
	  	left: 23%;
	  	transform: translate(-50%, -50%);
	}

	div.faetextae .description {
		width: auto;
	}

	div.faetextae .profilepic {
		width: 150px;
	}

	div.faetextae p {
		font-size: 15px;
		padding-bottom: 5px;
	}

	div.faetextae h2 {
		font-size: 25px;
	}

	/* end */
	/* recipes */

	div.headerimgrcp h1 {
		font-size: 25px;
		position: absolute;
	  	top:  27%;
	  	left: 23%;
	  	transform: translate(-50%, -50%);
	}

	div.headerimgrcp h5 {
		font-size: 13px;
		position: absolute;
	  	top: 30%;
	  	left: 23%;
	  	transform: translate(-50%, -50%);
	}

	div.headerimgrcp h5.underheadertext {
		font-size: 13px;
		position: absolute;
	  	top: 30%;
	  	left: 18.5%;
	  	transform: translate(-50%, -50%);
	}

	div.recipenav ul li {
		font-size: 18px;
	}

	section#tomrecipes {
		background-color: #ff4310;
	}

	div.recipestom {
		display: flex;
		flex-direction: column;
		height: 1870px;
	}

	div.recipestom2 {
		display: flex;
		flex-direction: column;
		height: 1950px;
	}

	div.recipestom3 {
		display: flex;
		flex-direction: column;
		height: 2130px;
	}

	div.recipescream {
		display: flex;
		flex-direction: column;
		height: 1650px;
	}

	div.recipescream2 {
		display: flex;
		flex-direction: column;
		height: 1650px;
	}

	div.recipescream3 {
		display: flex;
		flex-direction: column;
		height: 1800px;
	}

	div.recipesoil {
		display: flex;
		flex-direction: column;
		height: 1450px;
	}

	div.recipesoil2 {
		display: flex;
		flex-direction: column;
		height: 1550px;
	}

	div.recipesoil3 {
		display: flex;
		flex-direction: column;
		height: 1550px;
	}

	div.recipeleftpic img {
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	div.tominfo {
		padding: 0px;
		height: auto;
	}

	div.tominfo h1 {
		font-size: 30px;
	}

	div.tominfo h3 {
		font-size: 25px;
		padding: 0px;
		padding-left: 30px;
	}

	div.creaminfo {
		padding: 0px;
		height: auto;
	}

	div.creaminfo h1 {
		font-size: 30px;
	}

	div.creaminfo h3 {
		font-size: 25px;
		padding: 0px;
		padding-left: 30px;
	}

	div.oilinfo {
		padding: 0px;
		height: auto;
	}

	div.oilinfo h1 {
		font-size: 30px;
	}

	div.oilinfo h3 {
		font-size: 25px;
		padding: 0px;
		padding-left: 30px;
	}

	div.instructom {
		margin-left: 0px;
	}

	div.instructomextra {
		margin-left: 0px;
	}

	div.instructom h3 {
		font-size: 25px;
		padding: 0px;
		padding-left: 30px;
	}

	div.instructom ol {
		font-size: 15px;
		width: auto;
	}

	div.instructom ol {
		font-size: 15px;
		width: auto;
		margin-left: 12px;
	}

	div.instructomextra ol {
		font-size: 15px;
		width: auto;
		margin-left: 12px;
	}

	div.instruccream h3 {
		font-size: 25px;
		padding: 0px;
		padding-left: 30px;
	}

	div.instruccream p {
		font-size: 15px;
		width: auto;
	}

	div.instruccream ol {
		font-size: 15px;
		width: auto;
		margin-left: 15px;
	}

	div.instrucoil h3 {
		font-size: 25px;
		padding: 0px;
		padding-left: 30px;
	}

	div.instrucoil p {
		font-size: 15px;
		width: auto;
	}

	div.instrucoil ol {
		font-size: 15px;
		width: auto;
		margin-left: 15px;
	}

	div.instructomextra h3 {
		font-size: 25px;
		padding: 0px;
		padding-left: 30px;
	}

	div.instructomextra p {
		font-size: 15px;
		width: 360px;
	}

	/* end */
	/* food to pair */

	div.headerimgae h1.headertextextra {
		font-size: 25px;
		position: absolute;
	  	top: 27%;
	  	left: 29%;
	  	transform: translate(-50%, -50%);
	}

	img.ftpleftpic {
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}

	div.ftprecipe {
		display: flex;
		flex-direction: column;
		height: 1390px;
	}

	div.ftprecipe2 {
		display: flex;
		flex-direction: column;
		height: 1130px;
	}

	div.ftprecipe4 {
		display: flex;
		flex-direction: column;
		height: 990px;
	}

	div.ftpinfo {
		padding: 0px;
		width: auto;
		height: auto;
	}

	div.ftpinfo h1 {
		font-size: 35px;
	}

	div.ftpinfo h1.steak {
		font-size: 35px;
	}

	div.ftpinfo h3 {
		font-size: 30px;
		padding: 0px;
		padding-left: 20px;
		padding-bottom: 5px;
	}

	div.instruftp h3 {
		font-size: 25px;
		padding: 0px;
		padding-left: 30px;
	}

	div.instrucftp p {
		font-size: 15px;
		width: auto;
	}

	div.instrucftp ol {
		font-size: 15px;
		width: auto;
		margin-left: 12px;
	}

	div.instrucftp {
		padding: 5px;
	}

	div.instruftp2 h3 {
		font-size: 25px;
		padding: 0px;
		padding-left: 30px;
	}

	div.instrucftp2 ol {
		font-size: 15px;
		width: auto;
		margin-left: 12px;
	}

	div.instrucftp2 {
		padding: 5px;
	}

	div.instrucftp3 p {
		font-size: 15px;
		width: auto;
		margin-left: 5px;
	}

	/* end */
	/* essentials */

	div.essentialstext h2 {
		font-size: 30px;
		padding-top: 20px;
		padding-bottom: 10px;
	}

	li.essentialsitem img {
		width: 85px;
		height: 85px;
	}

	nav.essentialsnav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 320px;
		padding-bottom: 20px;
	}

	li.essentialsitem span {
		color: #2a53c0;
		font-size: 20px;
		font-family: Fredoka One;
		padding-top: 20px;
	}

	li.essentialsitem {
		margin-left: 0px;
	}

	li.essentialsitem:first-child {
		margin-left: 0px;
	}

	li.essentialsitem:last-child {
		margin-right: 0px;
	}

	div.pantrydesc {
		background-color: #ffca3c;
		height: 330px;
		width: 360px;
	}

	div.essentialstext2 h2 {
		font-size: 30px;
		padding: 20px 0px 10px 20px;
	}

	div.pantrydesc2 {
		background-color: #2a53c0;
		height: 360px;
		width: 360px;
	}

	div.container3 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	div.container3 p {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		font-size: 15px;
	}

	div.container3extra {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	div.container3extra p {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		font-size: 15px;
		color: white;
	}

	/* end */
	/* pasta shapes */

	div.container2 {
		width: 360px;
		margin-left: auto;
		margin-right: auto;
	}

	div.allpastacards {
		display: flex;
		flex-direction: column;
	}

	div.pastashape {
		margin-left: 30px;
	}

	img.pastapic {
		width: 100%;
	}

	div.pastashape2 {
		width: 300px;
		height: 20px;
		background-color: white;
		margin-left: 40px;
		margin-bottom: 4s0px;
	}

	/* end */

}

.logonav {
	height: 130px;
	display: flex;
}

.navhead nav {
	position: absolute;
	top: 55px;
	right: 30px;
}

.navhead ul li {
	list-style: none;
	display: inline;
	font-size: 30px;
	margin-left: 12px;
	font-family: Chewy;
}

.navhead nav ul li a {
	text-decoration: none;
	color: #1f9213;
}

.navhead-items:hover{
	color: #ff4310;
}

.logonav img {
	width: 400px;
	height: 90px;
	margin-top: 20px;
	margin-left: 10px;
}

.pastaheader .pclogo {
	padding: 20px;
}

.container {
	max-width: 1290px;
	margin-left: auto;
	margin-right: auto;
}

.homebg {
  position: relative;
  text-align: center;
  color: white;
}

.homebg img {
	object-fit: contain;
  	width: 100%;
}

.headertext h2 {
	position: absolute;
  	top: 48%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.headertext h4 {
	position: absolute;
  	top: 55%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 }

.headertext h2 {
	font-size: 60px;
	color: #ffca3c;
	font-family: Fredoka One;
}

.headertext h4 {
	font-size: 30px;
	color: white;
	font-family: Tilt Neon;
}

.flourandegg {
	display: flex;
	padding: 70px;
	align-items: center;
}

.flourandegg .secimg {
	width: 25%;
	height: 25%;
}

.faetext {
	padding: 40px;
	padding-top: 20px;
	padding-left: 100px;
}

.faetext h2 {
	font-family: Chewy;
	font-size: 55px;
	color: #2a53c0;
}

.faetext h3, p {
	font-family: Tilt Neon;
	font-size: 20px;
	padding-top: 20px;
	width: 650px;
}

.faetext .citrusheader {
	color: #ff4310;
}

#citrusinfo {
	background-color: #ffca3c;
}

#overview {
	background-color: #2a53c0;
}

.smolov {
	display: flex;
	justify-content: space-between;
	padding: 60px;
}

.smolov img {
	width: 100px;
	height: 100px;
}

.smolov span {
	font-size: 35px;
	font-family: Fredoka One;
	margin-top: 20px;
	text-align: center;
}

.smolov-icons {
	text-decoration: none;
	color: white;
}

.smolov-item {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px;
}

.smolov-icons:hover{
	color: #ffca3c;
}

#footer {
	background-color: #ff4310;
}

.conin {
	padding: 20px;
	padding-left: 70px;
}

.conin p {
	color: white;
	font-size: 20px;
}

.altogether {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.altogether img {
	width: 30%;
	height: 30%;
}

/* about me */

.headerimgae img {
	object-fit: contain;
  	width: 100%
}

.headerimgae h1 {
	position: absolute;
  	top: 40%;
  	left: 20%;
  	transform: translate(-50%, -50%);

  	font-size: 70px;
  	font-family: Fredoka One;
  	color: #ffca3c;
}

.headerimgae .headertextextra {
	position: absolute;
  	top: 40%;
  	left: 25%;
  	transform: translate(-50%, -50%);

  	font-size: 70px;
  	font-family: Fredoka One;
  	color: #ffca3c;
}

.flourandeggae {
	padding: 70px;
	padding-bottom: 50px;
}

.faetextae .description {
	width: 1150px;
}

.faetextae h2 {
	font-family: Chewy;
	color: #2a53c0;
	font-size: 55px;
}

.faetextae p {
	padding-bottom: 5px;
}

.faetextae .profilepic {
	border-radius: 50%;
	width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* end */
/* recipes */

.headerimgrcp img {
	object-fit: contain;
  	width: 100%;
}

.headerimgrcp h1 {
	position: absolute;
  	top: 41%;
  	left: 20%;
  	transform: translate(-50%, -50%);

  	font-size: 70px;
  	font-family: Fredoka One;
  	color: #ffca3c;
}

.headerimgrcp h5 {
	position: absolute;
  	top: 49.5%;
  	left: 18.5%;
  	transform: translate(-50%, -50%);

  	font-size: 30px;
  	font-family: Fredoka One;
  	color: white;
}

.headerimgrcp .underheadertext {
	position: absolute;
  	top: 49.5%;
  	left: 16%;
  	transform: translate(-50%, -50%);

  	font-size: 30px;
  	font-family: Fredoka One;
  	color: white;
}

.recipenav {
	padding-top: 13px;
}

.recipenav ul li {
	list-style: none;
	display: inline;
	font-size: 30px;
	font-family: Chewy;
}

.recipenav li {
	margin-left: 10px;
	padding-left: 0px;
}

.recipenav a {
	text-decoration: none;
}

.tomatobased img {
	width: 90px;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
}

.tomatobased p{
	width: 170px;
	padding-top: 15px;
	display: block;
 	margin-left: auto;
  	margin-right: auto;

  	font-family: Chewy;
  	font-size: 30px;
  	color: #2a53c0 ;
}

.tomatobased .undersvgtext{
	width: 170px;
	padding-top: 15px;
	display: block;
	padding-left: 30px;
 	margin-left: auto;
  	margin-right: auto;

  	font-family: Chewy;
  	font-size: 30px;
  	color: #2a53c0 ;
}

#speccategory {
	height: 200px;
}

/* end */
/* recipes */

.recipestom {
	display: flex;
	flex-direction: row;
	background-color: #ff4310;
	height: 791px;
}

.recipestom2 {
	display: flex;
	flex-direction: row;
	background-color: #ff4310;
	height: 791px;
}

.recipestom3 {
	display: flex;
	flex-direction: row;
	background-color: #ff4310;
	height: 791px;
}

.instructom h3 {
	padding: 40px 0px 0px 30px;
	font-size: 45px;
	font-family: Chewy;
	color: white;
}

.instructom ol {
	padding: 23px;
	width: 600px;
	line-height: 1.9;
	color: white;
	font-size: 18px;
}

.instructom li {
	margin-bottom: 30px;
}

.recipescream {
	display: flex;
	flex-direction: row;
	background-color: #ffca3c;
	height: 791px;
}

.recipescream2 {
	display: flex;
	flex-direction: row;
	background-color: #ffca3c;
	height: 791px;
}

.recipescream3 {
	display: flex;
	flex-direction: row;
	background-color: #ffca3c;
	height: 791px;
}

.recipesoil {
	display: flex;
	flex-direction: row;
	background-color: #2a53c0;
	height: 791px;
}

.recipesoil2 {
	display: flex;
	flex-direction: row;
	background-color: #2a53c0;
	height: 791px;
}

.recipesoil3 {
	display: flex;
	flex-direction: row;
	background-color: #2a53c0;
	height: 791px;
}

#tomrecipes {
	display: flex;
	flex-direction: column;
}

.tominfo {
	color: white;
	width: 350px;
	height: 791px;
}

.tominfo nav {
	padding: 40px;
	padding-top: 0px;
	padding-left: 30px;
	font-family: Tilt Neon;
}

.tominfo h1 {
	padding: 30px;
	padding-bottom: 10px;
	font-size: 60px;
	font-family: Chewy;
}

.tominfo h3 {
	padding: 40px;
	padding-bottom: 10px;
	padding-left: 30px;
	font-size: 45px;
	font-family: Chewy;
}

.tominfo nav ul li {
	list-style: none;
	font-size: 18px;
	margin-top: 10px;
}

.creaminfo {
	color: black;
	width: 350px;
	height: 791px;
}

.creaminfo nav {
	padding: 40px;
	padding-top: 0px;
	padding-left: 30px;
	font-family: Tilt Neon;
}

.creaminfo h1 {
	padding: 30px;
	padding-bottom: 10px;
	font-size: 60px;
	font-family: Chewy;
}

.creaminfo h3 {
	padding: 40px;
	padding-bottom: 10px;
	padding-left: 30px;
	font-size: 45px;
	font-family: Chewy;
}

.creaminfo nav ul li {
	list-style: none;
	font-size: 18px;
	margin-top: 10px;
}

.oilinfo {
	color: white;
	width: 350px;
	height: 791px;
}

.oilinfo nav {
	padding: 40px;
	padding-top: 0px;
	padding-left: 30px;
	font-family: Tilt Neon;
}

.oilinfo h1 {
	padding: 30px;
	padding-bottom: 10px;
	font-size: 60px;
	font-family: Chewy;
}

.oilinfo h3 {
	padding: 40px;
	padding-bottom: 10px;
	padding-left: 30px;
	font-size: 45px;
	font-family: Chewy;
}

.oilinfo nav ul li {
	list-style: none;
	font-size: 18px;
	margin-top: 10px;
}

.instruccream h3 {
	padding: 40px 0px 0px 30px;
	font-size: 45px;
	font-family: Chewy;
	color: black;
}

.instruccream ol {
	padding: 23px;
	width: 600px;
	line-height: 1.9;
	color: black;
	font-size: 18px;
}

.instruccream p {
	padding: 20px;
	width: 600px;
	line-height: 1.9;
	color: black;
	font-size: 18px;
}

.instruccream li {
	margin-bottom: 30px;
}

.instrucoil h3 {
	padding: 40px 0px 0px 30px;
	font-size: 45px;
	font-family: Chewy;
	color: white;
}

.instrucoil ol {
	padding: 23px;
	width: 600px;
	line-height: 1.9;
	color: white;
	font-size: 18px;
}

.instrucoil li {
	margin-bottom: 30px;
}

.instructomextra h3 {
	padding: 40px 0px 0px 30px;
	font-size: 45px;
	font-family: Chewy;
	color: white;
}

.instructomextra ol {
	padding: 20px;
	width: 600px;
	line-height: 1.9;
	color: white;
	font-size: 17px;
}

.instructomextra li {
	margin-bottom: 30px;
}

.clearfix {
	height: 100px;
	background-color: white;
}

/* end */
/* food to pair */

.ftpleftpic {
	width: 30%;
}

.ftprecipe {
	display: flex;
	flex-direction: row;
	background-color: #ffca3c;
	height: 400px;
}

.ftprecipe2 {
	display: flex;
	flex-direction: row;
	background-color: #ffca3c;
	height: 400px;
}

.ftprecipe4 {
	display: flex;
	flex-direction: row;
	background-color: #ffca3c;
	height: 400px;
}

.ftpinfo {
	color: black;
	width: 400px;
	height: 400px;
}

.ftpinfo .steak {
	padding: 20px;
	padding-bottom: 10px;
	font-size: 27px;
	font-family: Chewy;
}

.ftpinfo nav {
	padding: 0px 40px 20px 20px;
	font-family: Tilt Neon;
}

.ftpinfo h1 {
	padding: 20px;
	padding-bottom: 10px;
	font-size: 30px;
	font-family: Chewy;
}

.ftpinfo h3 {
	padding: 10px 0px 10px 20px;
	font-size: 25px;
	font-family: Chewy;
}

.ftpinfo nav ul li {
	list-style: none;
	font-size: 15px;
	margin-top: 2px;
}

.instrucftp h3 {
	padding: 20px 0px 0px 20px;
	font-size: 30px;
	font-family: Chewy;
	color: black;
}

.instrucftp ol {
	padding: 15px;
	width: 700px;
	line-height: 1.9;
	color: black;
	font-size: 15px;
}

.instrucftp li {
	margin-bottom: 10px;
}

.instrucftp {
	padding-left: 50px;
}

.instrucftp2 h3 {
	padding: 20px 0px 0px 20px;
	font-size: 30px;
	font-family: Chewy;
	color: black;
}

.instrucftp2 ol {
	padding: 15px;
	width: 700px;
	line-height: 1.9;
	color: black;
	font-size: 16px;
}

.instrucftp2 {
	padding-left: 50px;
}

.instrucftp2 li {
	margin-bottom: 10px;
}

.instrucftp3 h3 {
	padding: 20px 0px 0px 20px;
	font-size: 30px;
	font-family: Chewy;
	color: black;
}

.instrucftp3 p {
	padding: 15px;
	width: 700px;
	line-height: 1.9;
	color: black;
	font-size: 16px;
}

/* end */
/* essentials */

.essentialstext h2 {
	font-family: Chewy;
	color: #ff4310;
	font-size: 55px;
	padding-bottom: 30px;
	padding-top: 40px;
}

.essentialstext2 h2 {
	font-family: Chewy;
	color: #ff4310;
	font-size: 55px;
	padding: 30px 0px 30px 80px;
}

.essentialsnav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

.essentialsitem {
	margin-left: 60px;
}

.essentialsitem:first-child {
	margin-left: 0px;
}

.essentialsitem:last-child {
	margin-right: 20px;
}

.essentialsitem img {
	width: 140px;
	height: 140px;
}

.essentialsitem {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}

.essentialsitem span {
	color: #2a53c0;
	font-size: 35px;
	font-family: Fredoka One;
	padding-top: 20px;
	margin-left: 10px;
}

.pantrydesc {
	background-color: #ffca3c;
	height: 220px;
}

.pantrydesc2 {
	background-color: #2a53c0;
	height: 220px;
}

.container3 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.container3 p {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
}

.container3extra {
	padding-top: 20px;
	padding-bottom: 20px;
}

.container3extra p {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

/* end */
/* pasta shapes */

.container2 {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.allpastacards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.pastapic {
	width: 100%;
}

.pastashape {
	width: 300px;
	height: 400px;
	background-color: #2a53c0;
	margin-left: 40px;
	margin-bottom: 40px;
}

.pastashape2 {
	width: 300px;
	height: 400px;
	background-color: white;
	margin-left: 40px;
	margin-bottom: 4s0px;
}

.pastashape h2 {
	color: white;
	font-size: 30px;
	padding: 20px;
	padding-bottom: 5px;
}

.pastashape p {
	color: white;
	font-size: 18px;
	padding: 20px;
	padding-top: 5px;
	width: auto;
}